@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hero-bg-image {
    background-image: url("/images/bg.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  kbd {
    font-family: monospace !important;
  }
  a {
    @apply leading-none underline-offset-2 transition-all duration-150 ease-in-out;
  }
  a:hover {
    @apply bg-slate-200 text-slate-900 decoration-slate-200;
  }
}
